@model IEnumerable<ADSBackend.Models.Reaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
